/* General styles */

@import url("https://fonts.googleapis.com/css?family=Roboto");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-light: hsl(0, 0%, 98%);
  --clr-dark: hsl(0, 0%, 27%);

  --clr-primary-dark: hsl(207, 44%, 40%);
  --clr-primary: hsl(207, 44%, 49%);
  --clr-primary-medium: hsl(193, 100%, 90%);
  --clr-primary-light: hsl(193, 100%, 96%);

  --fw-600: 600;

  --fs-large: 3rem;
  --fs-medium: 2rem;
  --fs-small: 1.2rem;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto";
  color: var(--clr-light);
}

h1,
p {
  margin: 0;
}

a {
  color: var(--clr-light);
}

/* Layout */

.container {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  height: 100%;
}

header {
  display: grid;
  place-items: center;
}

footer {
  display: grid;
  place-content: center;
}

main {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1.5rem;
}

.gameboard {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  gap: 3px;
  font-size: 0;
}

/* Buttons */

.boardTile {
  width: 100px;
  height: 100px;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: var(--clr-primary-light);
  color: var(--clr-primary);
  font-weight: var(--fw-600);
  font-size: var(--fs-medium);
}

.boardTile:hover {
  background-color: var(--clr-primary-medium);
}

.restart{
  border: none;
  border-radius: .2rem;
  padding: .5rem 1rem;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  cursor: pointer;
  font-size: var(--fs-small);
}

.restart:hover{
  background-color: var(--clr-primary-dark);
}

.restart:disabled{
  background-color: var(--clr-primary-dark);
  color: var(--clr-dark);
}

/* Utility classes */

.text-center {
  text-align: center;
}

.bgc-primary {
  background-color: var(--clr-primary);
}

.bgc-primary-light {
  background-color: var(--clr-primary-light);
}

.text-clr-dark {
  color: var(--clr-dark);
}

.fs-medium{
  font-size: var(--fs-medium);
}

.fs-large{
  font-size: var(--fs-large);
}
